@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2gr5qa');
  src:  url('fonts/icomoon.eot?2gr5qa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2gr5qa') format('truetype'),
    url('fonts/icomoon.woff?2gr5qa') format('woff'),
    url('fonts/icomoon.svg?2gr5qa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tasks:before {
  content: "\e905";
}
.icon-star:before {
  content: "\e900";
}
.icon-eye2:before {
  content: "\e901";
}
.icon-bubble:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e903";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-user2:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-cog:before {
  content: "\e994";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-user:before {
  content: "\e973";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-star-full:before {
  content: "\e9d9";
}
